<div class="card-task">
    <div class="header-task">
        <h1 class="title-card">Historial de Tareas de {{nameTeam}}</h1>
    </div>
    <hr class="line" />

    <div class="task-container">

        <div class="task ">
            <h2 class="title-space-task tasks-completed">Tareas completadas {{ListOfCompletedTasks?.length}}</h2>
            <div class="task-box tasks-completed" *ngFor="let task of ListOfCompletedTasks">
                <div style="display: flex; justify-content: space-between;">
                    <h1>{{task?.Titulo}}</h1>
                    <i *ngIf="task?.revisada" style="font-size: 25px; color: green;" class="bx bx-check"></i>
                </div>

                <p class="text-descripcion">{{ task?.Descripcion?.length > 50 ? (task?.Descripcion?.substring(0, 50) +
                    '...') : task?.Descripcion }}
                </p>

                <div class="date-task">
                    <!--    <h3 class="date" [ngClass]="{ 'vencio': esFechaVencida(task?.FechaVencimiento) }"><i
                            class='bx bx-alarm-exclamation'></i>{{task.FechaVencimiento.substring(0, 10)}}
                    </h3> -->
                    <h4 [ngStyle]="{'background-color':task?.priority_color}">{{task?.prioridad}}</h4>
                </div>
                <div class="name-user">

                    {{task?.NombreUsuario.substring(0, 1)}}
                </div>
            </div>

        </div>
    </div>

</div>