<div class="card-layout">

    <h1 class="title"><i class='bx bx-table'></i> Equipos de trabajo</h1>
    <hr class="line">
    <div class="container-team">
        <a [routerLink]="['/pages/tareas/', team?.id , team?.nombre]" class="box" *ngFor="let team of ListTeams"
            [ngStyle]="{'background-image': team?.fondo}">
            <h1>{{ team?.nombre }} <span *ngIf="user.id_rol == 1">{{team?.TaskCount
                    }}</span> </h1>
            <div class="text-lider">
                <h1>{{ team?.lider }}</h1>
            </div>
        </a>
    </div>
</div>

<div class="btn-register-task" *ngIf="user.id_rol == 1" (click)="Register()"><i class='bx bx-plus'></i></div>