<h1 class="title-desktop">Equipos de trabajo</h1>

<div class="card-layout">

    <div class="container-team">
        <a [routerLink]="['/pages/tareas/', team?.id , team?.nombre]" class="box" *ngFor="let team of ListTeams"
            [ngStyle]="{'background-image': team?.fondo}">
            <h1>{{ team?.nombre }} <span *ngIf="user.id_rol == 1">{{team?.TaskCount
                    }}</span> </h1>
            <div class="text-lider">
                <h1>{{ team?.lider }}</h1>
            </div>
        </a>

        <a class="box register" (click)="Register()">
            <h1>Crear nuevo equipo</h1>
        </a>
    </div>
</div>

<div class="btn-register-task" (click)="Register()"><i class='bx bx-plus'></i></div>