.container-layout {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
}

.route-layout {
    width: calc(100% - 280px);
    overflow-y: scroll;
}

.children {
    width: 100%;
    padding: 30px;
}

.header-layout {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    display: none;
}

.sidebar {
    height: 100%;
    width: 280px;
    transition: all 0.3s ease;
    border-right: 1px solid rgba(0, 0, 0, .12);
    background-color: var(--bg-color);
}

.sidebar.close {
    width: 78px;
}



.sidebar .logo-details {
    height: 60px;
    display: flex;
    align-items: center;
}

.sidebar .logo-details .logo_name {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}

.sidebar.close .logo-details {
    opacity: 0;
    pointer-events: none;
}

.sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
}

.sidebar ul {
    padding: 0;
}

.sidebar .nav_link {
    height: 100%;
    padding-top: 30px;
    overflow: auto;
}

.sidebar .nav_link::-webkit-scrollbar {
    display: none;
}

.sidebar .nav_link li {
    position: relative;
    list-style: none;
}

.sidebar .nav_link li:hover a span {
    opacity: 1;
}

.sidebar .nav_link li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar .nav_link li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    transition: all 0.3s ease;
}

.sidebar .nav_link li.showMenu i.arrow {
    transform: rotate(90deg);
}

.sidebar .nav_link li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.sidebar .nav_link li a span {
    opacity: 0.8;
}

.sidebar .nav_link li a .link_name {
    font-size: 14px;
    font-weight: 400px;
    color: var(--text-color);
}


.sidebar .nav_link li .sub-menu {
    background-color: #1d1b31;
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    display: none;
}

.sidebar .nav_link li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav_link li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav_link li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px;
    white-space: nowrap;
}

.sidebar .nav_link li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav_link li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
}


.sidebar.close .nav_link li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: none;
}

.btn-close {
    position: fixed;
    right: 0;
}

.sidebar.closeMovil {
    left: 0;
}

.header-movil {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 100;
    display: none;
    background-color: var(--bg-color);
}


.header-movil h2 {
    color: #fff;
}

.header-movil p {
    color: #fff;
}

.option-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header-movil i {
    font-size: 30px;
    color: #fff;

}



.header-movil .logo_name {
    margin-right: auto;
    font-size: 25px;
    font-weight: 400;
}


.user-autenticate {
    display: flex;
    align-items: center;
}

.user-autenticate h2 {
    margin: 0;
    font-size: 17px;
    font-weight: bold;
}

.user-autenticate p {
    margin: 0;
    font-size: 13px;

}

.first {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin-right: 10px;
    color: var(--bg-color);
    font-size: 18px;
    font-weight: bold;
}


.header-footer {
    height: 70px;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    border-top: 1px solid gray;
    z-index: 1000;
    background-color: #fff;
}

.header-footer .item {
    position: relative;
    padding: 10px 0;

}

.header-footer .item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.header-footer .item h3 {
    font-size: 14px;
    color: black;
}

.header-footer .item i {
    font-size: 30px;
    margin-bottom: 5px;
    color: black;

}

/* header-footer.component.css */
.header-footer .item a.active::after {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--bg-color);



}


.header-footer .item a.active i {
    color: var(--bg-color);

}

.header-footer .item a.active h3 {
    color: var(--bg-color);

}

.notification {
    position: relative;
}

.notification span {
    background-color: red;
    position: absolute;
    top: -10px;
    left: -12px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
}


.header-desktop {
    height: 70px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
}

.header-desktop h3 {
    margin: 0;
    font-size: 15px;
    color: #858796;
}

@media(min-width:600px) {
    .header-footer {
        display: none;
    }

    .container-layout {
        height: calc(100vh);
    }
}

@media(max-width:600px) {

    .header-desktop {
        display: none;

    }

    .sidebar {
        position: fixed;
        width: 100%;
        left: -100%;
        top: 70px;
        z-index: 100;
    }

    .route-layout {
        width: 100%;
    }

    .children {
        padding: 10px;
    }

    .header-movil {
        display: block;
    }

    .nav-movil {
        display: block;
    }

    .logo_name {
        display: none;
    }

}