<div class="user-card" *ngFor="let user of ListUsers">
    <div class="card-header">
        <h3>{{ user.nombre }}</h3>

    </div>
    <div class="card-body">

        <p><strong>Equipo:</strong> {{ user.nombre_equipo }}</p>
        <button class="edit-button" (click)="Edit(user)"> <i class='bx bx-edit-alt'></i></button>
    </div>
</div>

<!-- <div class="mb-3">
    <p-button 
        type="button" 
        icon="pi pi-chevron-left" 
        (onClick)="prev()" 
        [disabled]="isFirstPage()" 
        styleClass="p-button-text" />
    <p-button 
        type="button" 
        icon="pi pi-refresh" 
        (onClick)="reset()" 
        styleClass="p-button-text" />
    <p-button 
        type="button" 
        icon="pi pi-chevron-right" 
        (onClick)="next()" 
        [disabled]="isLastPage()" 
        styleClass="p-button-text" />
</div> -->

<div class="header-wiew">
    <h1 class="title-desktop">Empleados</h1>

    <button class="btn-add" (click)="Register()"> <i class='bx bx-plus'></i> Registrar</button>
</div>
<div class="card_personality">

    <p-table [value]="ListUsers" [paginator]="true" [rows]="5" [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[10, 25, 50]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:25%">Nombre</th>
                <th style="width:25%">Correo</th>
                <th style="width:25%">Rol</th>
                <th style="width:25%">Equipo</th>
                <th style="width:25%">Acciones</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>{{ customer.nombre }}</td>
                <td>{{ customer.correo }}</td>
                <td>{{ customer.nombre_rol }}</td>
                <td>{{ customer.nombre_equipo}}</td>
                <td>
                    <div class="action">
                        <button class="btn-action edit" (click)="Edit(customer)">
                            <i class='bx bxs-edit-alt'></i>
                        </button>
                        <button class="btn-action delete">
                            <i class='bx bxs-trash'></i>
                        </button>
                    </div>

                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" />
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text" />
        </ng-template>
    </p-table>
</div>

<div class="btn-register-task" *ngIf="user.id_rol == 1" (click)="Register()"><i class='bx bx-plus'></i></div>