@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/quill/dist/quill.core.css";
@import "../node_modules/quill/dist/quill.snow.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* --bg-color: #5d87ff; */
    --bg-color: #0cb7f2;
    /*  --bg-color: #44006b; */
    --line-color: rgba(0, 0, 0, .12);
    --text-color: #2a3547;
}

.loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff7a;
    z-index: 1000;
}



.btn-register-task {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    right: 30px;
    bottom: 90px;
    background-color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-register-task i {
    font-size: 30px;
    color: #fff;
}